<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2d2">
    
    <xacro:macro name="leg" params="wheel_1_name wheel_2_name body_joint_name">
        <link name="top_leg">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <mass value="10.0"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>
            <visual name="top_leg_visual">
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="1.0 1.0 2.0"/>
                </geometry>
                <material name="">
                    <color rgba="1.0 0.0 0.0 1.0"/>
                    <texture filename=""/>
                </material>
            </visual>
            <collision name="top_leg_collision">
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="1.0 1.0 2.0"/>
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>
