<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2d2">
    
    <xacro:include filename="$(find r2d2_robot_description)/urdf/r2d2_leg.urdf.xacro"/>
    <xacro:include filename="$(find r2d2_robot_description)/urdf/r2d2_body.urdf.xacro"/>
    <xacro:include filename="$(find r2d2_robot_description)/urdf/r2d2_control.urdf.xacro"/>
    <xacro:include filename="$(find r2d2_robot_description)/urdf/r2d2.gazebo.xacro"/>

    <xacro:include filename="$(find r2d2_robot_description)/urdf/general_macros.xacro"/>
    <xacro:include filename="$(find r2d2_robot_description)/urdf/materials.xacro"/>
    
    
    <link name="base_unit">
        <pose>0 0 0 0 0 0</pose>
    </link>
        
    <xacro:body/>

    <xacro:leg side='right'/>
    <xacro:leg side='left'/>

    <xacro:gazebo_tags />

    <xacro:control hardware_flag='gazebo'/>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find r2d2_robot_description)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
