<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2d2">
    
    <xacro:include filename="$(find r2d2_robot_description)/urdf/r2d2_leg.urdf.xacro"/>
    <xacro:include filename="$(find r2d2_robot_description)/urdf/r2d2_body.urdf.xacro"/>
    <xacro:include filename="$(find r2d2_robot_description)/urdf/r2d2_control.urdf.xacro"/>

    <xacro:include filename="$(find r2d2_robot_description)/urdf/general_macros.xacro"/>
    <xacro:include filename="$(find r2d2_robot_description)/urdf/materials.xacro"/>
    
    
    <link name="base_unit">
        <pose>0 0 0 0 0 0</pose>
    </link>
        
    <xacro:body/>

    <xacro:leg side='right'/>
    <xacro:leg side='left'/>
    
    <xacro:control hardware_flag='rviz'/>

</robot>